text.name {
    text-anchor: start;
    font-family: sans-serif;
}

g.category text.title {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: sans-serif;
}

g.position path.box {
    fill: cornflowerblue;
}

g.position circle.failure {
    fill: lightgrey;
}

g.position rect.failure {
    fill: lightgrey;
}
g.position rect.transparent {
    fill: none;
}

g.position text.organization {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
    dominant-baseline: hanging;
    font-family: sans-serif;
}

g.position text.location {
    fill: lightgrey;
    text-anchor: middle;
    dominant-baseline: mathematical;
    font-family: sans-serif;
    font-size: 80%;
}

g.position text.role {
    fill: white;
    font-style: italic;
    text-anchor: middle;
    dominant-baseline: alphabetic;
    font-family: sans-serif;
    font-size: 80%;
}

g.axis-date path.domain {
    display: none;
}

g.axis-date path.domain {
    display: none;
}

g.axis-date g.tick line {
    stroke: lightgray;
    stroke-width: 3px;
}

g.axis-date g.tick text {
    fill: lightgray;
    font-weight: bold;
}

foreignObject  {
    overflow: visible;
}

foreignObject body {
    margin: 0px;
}

div.skill-details {
    border: gray solid 1px;
    border-radius: 0.5em;
    background: white;
    padding-left: 1em;
    padding-right:1em;
    padding-top:0.3em;
    padding-bottom:0.3em;
    opacity: 0.98;
    box-shadow: 1px 3px 7px 1px grey
}

div.skill-details div.title {
    border-bottom: lightgray solid 1px;
    font-size: 130%;
    font-weight: bolder;
    font-family: sans-serif;
}

div.skill-details div.description {
    padding-top: 0.5em;
}
div.skill-details div.links ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

